:root {
    --background1: black;
    --text: #FBFFFE; 
    --accent1: #5081B9ff;
    --accent2: #F58B51ff;
    --accent3: #60815Fff;
    --accent4: #54f2f2ff;
    --accent5: #0B847Aff;
    --accent6: #ffc800ff;
    --accent7: #5b5f97ff;
    --accent8: #e6e18fff;
    --accent9: #4B5C6Cff;
    --accent10: #e84855ff;
  }
  

title{
    color:var(--text);
}

div[class*=box] {
    height: 33.33%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

  
html {
    background-color: var(--background1); 
      /* opacity: 0.5; */
  
    /* background-color: #f7f7f0; */
    color: var(--text);  
    font-family: Verdana, sans-serif;}
    
      
  
    h1 {text-align: center;
        font-size: 3em;
        margin-top: 2em;
        color:var(--text);}
    p {text-align: center;}
    div {text-align: center;
      /* margin-bottom: 10px; */
    }
  
  
    
  .arrow {
    border: solid #D3E788;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
  }
  
  button:hover {
    background-color:var(--accent1);
    color: var(--text);
  }
  
  button {
  
      /* border-radius:15px; */
      border:1px solid var(--accent1);
      display:inline-block;
      cursor:pointer;
      font-size:14px;
      padding:5px;
      text-decoration:none;
    background-color: var(---background);
    color: var(--text);
  }
  
  
  button:focus{
    background: var(--background1); 
    /* background-color : #D4B483; */
  }
  
  .button-stay:focus {
    background-color : black;
    color: #cae0ad;
  }
  
  .slider {
    width: 100%;
    height: 14px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 14px;
    border: 0px solid #000000;
    -webkit-text-fill-color:green;
  }
  
  
  input {
    text-align: center;
    border:1px solid #b56d07;
    }
  
  #chart {
    position: chart;
    z-index: -1;
  }
  
  
  img {
    opacity: 0.5;
  }
  
  .textinpanel {
    margin: auto;
    width : 60%;
    text-align: center;
    font: impact;
  }

  
  .bottom {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    width: 98%;
    color:var(--text);
  }

  .p7-5 a {
    color:rgb(59, 59, 59);
  }
  .p7-5 a:hover{
    color:rgb(251, 255, 5);
  }

  .p6-5 a {
    color:var(--accent10);
  }
  .p6-5 a:hover{
    color:var(--accent2);
  }



  .bottom a {
    color: grey;
  }

  .bottom a:hover {
    color: var(--accent5);
  }


  
  text.shadow {
    background-color:white;
  }
  
  #right{
    text-align: right;
    font-size: 15px;
  }
  
  #left{
    text-align: left;
    font-size:15px;
    width:200px;
  }

svg {
        overflow:visible;
        padding:10px;
        float:left;
        width:100%;
        height:100%; 
            
}


/* #panel{
  opacity:0;
} */
.pa.visible {
  opacity:1;
}
.p-side-by-chart.visible {
  opacity:1;
}
.pb.visible {
  opacity:1;
}
.pc.visible {
  opacity:1;
}
.pd.visible {
  opacity:1;
}
.p1.visible {
  opacity:1;
}
.p2.visible {
  opacity:1;
}
.p3.visible {
  opacity:1;
}
.p4.visible {
  opacity:1;
}
.p4-5.visible {
  opacity:1;
}
.p5.visible {
  opacity:1;
}
.p6.visible {
  opacity:1;
}
.p7.visible {
  opacity:1;
}
.p8.visible {
  opacity:1;
}
.p9.visible {
  opacity:1;
}
.p10.visible {
  opacity:1;
}

.p7-5.visible {
  opacity:1;
}

.p6-5.visible {
  opacity:1;
}

.panel {
  font-family: Verdana, sans-serif;
  text-align: left;
  font-size: 30px;
  height: 100%;
  width: 40%;
  border-radius: 5px;
  padding:1cm;
  margin-bottom: 250px;
  /* opacity:0; */
  -webkit-transform: scale(0.9);
			 -moz-transform: scale(0.9);
				-ms-transform: scale(0.9);
				 -o-transform: scale(0.9);
						transform: scale(0.9);
		-webkit-transition: all 1s ease-in-out;
			 -moz-transition: all 1s ease-in-out;
				-ms-transition: all 1s ease-in-out;
				 -o-transition: all 1s ease-in-out;
						transition: all 1s ease-in-out;
}
.p-alpha{
  /* margin: 200px; */
  /* opacity:0; */
  /* background-color: var(--accent3);*/
  /* position: relative; */
  /* width: 93.5%; */
  /* z-index: 9999; */
  /* position: relative; */
  z-index: 9999;
  /* padding-bottom:300px; */
  margin-right: 0;
  margin-left: auto;
  /* background-color: firebrick; */

  /* align-content: right; */
}

#people1{
  visibility: hidden;
}



.pa{
  opacity:0;
  background-color: var(--accent3);
  position: relative;
  width: 93.5%;
  z-index: 9999;
  margin-top: 200px;
}


.p-side-by-chart{
  opacity:0;
  /* background-color: var(--accent4); */
  position: relative;
  width: 100%;
  z-index: 9999;
  padding: 0px;
  /* margin-top: 200px; */
}
#container-charts{
  display: flex;
  padding: 0;
  margin: 0;
}

#another-container {
  display:flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  width: 35%;
}

#line-chart-text {
  display: block;
  /* position:relative; */
  background-color: var(--accent3);
  font-family: Verdana, sans-serif;
  text-align: left;
  font-size: 30px;
  /* height: 100%; */
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  border-radius: 5px;
  /* height: 100%; */
  padding: 1cm;
  /* margin-left: -10; */
  /* padding:1cm; */
  /* margin-bottom: 250px; */
  /* opacity:0; */
  -webkit-transform: scale(0.9);
			 -moz-transform: scale(0.9);
				-ms-transform: scale(0.9);
				 -o-transform: scale(0.9);
						transform: scale(0.9);
		-webkit-transition: all 1s ease-in-out;
			 -moz-transition: all 1s ease-in-out;
				-ms-transition: all 1s ease-in-out;
				 -o-transition: all 1s ease-in-out;
						transition: all 1s ease-in-out;
}

#line-chart {
  width: 50%;
  display: inline-block;
  margin-left: 7%;
}


.pb{
  opacity:0;
  background-color: var(--accent1);
  position: relative;
  width: 93.5%;
  z-index: 9999;
}
.pc{
  opacity:0;
  background-color: var(--accent7);
  position: relative;
  width: 93.5%;
  z-index: 9999;
}
.pd{
  opacity:0;
  background-color: var(--accent5);
}


.p1{
  
  opacity:0;
  background-color: var(--accent3);
  /* background-image: radial-gradient( circle farthest-corner at 1.5% 1.4%,
                              var(--accent1) 0%,
                               var(--accent2) 100.2% ); */
}

.p2{
  opacity:0;
  background-color: var(--accent3);
}
.p3{
  opacity: 0;
  background-color: var(--accent7);
}
.p4{
  opacity:0;
  background-color: var(--accent7);
}
.p4-5{
  opacity:0;
  background-color: var(--accent7);
}
.p5{
  opacity:0;
  background-color: var(--accent9);
}
.p6{
  opacity:0;
  background-color: var(--accent9);
}
.p6-5{
  opacity:0;
  background-color: var(--accent9);
}
.p7{
  opacity:0;
  background-color: var(--accent5);
}
.p7-5{
  opacity:0;
  background-color: var(--accent5);
}
.p8{
  opacity:0;
  background-color: var(--accent5);
}
.p9{
  opacity:0;
  background-color: var(--accent10);
}
.p10{
  opacity:0;
  background-color: var(--accent10);
}

#move-button{
    background:var(--background1);
    border:1px solid var(--accent2);
    /* margin:2cm; */

}

#move-button:hover{
    background: var(--accent2);
}

#move-button:before{
    background: var(--accent2);
}

button{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    margin: 30px 30px;
    border: 2px solid var(--accent1);
    padding: 14px 30px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    transform: translate(-50%,-50%); 
  }
  button::before{
    background: var(--accent1);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }

  
  button::before{
    width: 0%;
    height: 100%;
  }
  
  button:hover::before{
    width: 100%;
  }

  move-button {
    text-align: center;
      /* margin: auto; */
  }

  .tooltip {
    position:fixed;
    /* width: 200px;
    height: 28px; */
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    background: var(--background1);
    border: 2px solid;
    opacity: 0.9;
    z-index:999;
    
  }


  .label {
    display: table;
    text-align: left;
    margin-top: 10%;
    margin-left: 10%;
    /* height: 0%; */
    margin-bottom: auto;
    /* background-color: green; */
  }

  .tooltip2 {
    position:fixed;
    width: 50%;
    /* height: 20%; */
    border-radius: 3px;
    margin-left: 10px;
    pointer-events: none;
    text-align: left;
    padding: 10px 10px 10px 10px;
    /* background: var(--background1); */
    font-size: 100%;
    border: none;
    opacity: 0.9;
    /* z-index:99999; */
    /* background-color: purple; */
  }

  /* .people1{
    height: 100%;
    width:600px;
  } */

  #people1{
    position:fixed;
    z-index: 998;
    left: 45%;

    /* margin-left: 0;
    margin-left: auto; */
    top:0%;
    /* top: -300px; */
    width:40%;
    height:100%;
  }


/* .iconCustom  {
  width: 2%;
  height: 4%;
} */

.select-style {
  /* background: var(--accent1);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* z-index: -1; */
    /* transition: all 0.6s ease;  */
  /* border: 1px solid #ccc; */
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  /* background: #fafafa url("img/icon-select.png") no-repeat 90% 50%; */
}

.select-style select {
  background: var(--background1);
    content: "";
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* z-index: -1; */
    transition: all 0.6s ease;
    border: 3px solid var(--accent8);
    color: var(--text);
    font-size: large;
    font-family: Verdana, sans-serif;
    padding:5px;
    margin-top: 25px;
    
      /* padding: 5px 8px;*/
  /* width: 130%;*/
  /* border: none; */
  /* box-shadow: none; */
  /* background: transparent; */
  /* background-image: none; */
  -webkit-appearance: none; 
}

.select-style select:focus {
  outline: none;
}