:root {
    --background1: black;
    --text: #FBFFFE; 
    --accent1: #0c6fc0ff;
    --accent2: #f37c96ff;
    --accent3: #4b644aff;
    --accent4: #54f2f2ff;
    --accent5: #157a6eff;
    --accent6: #ffc800ff;
    --accent7: #5b5f97ff;
    --accent8: #e6e18fff;
    --accent9: #404e5cff;
    --accent10: #e84855ff;
  }
  

title{
    color:var(--text);
}

div[class*=box] {
    height: 33.33%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

  
html {
    background-color: var(--background1); 
      /* opacity: 0.5; */
  
    /* background-color: #f7f7f0; */
    color: var(--text);  
    font-family: Verdana, sans-serif;}
    
      
  
    h1 {text-align: center;
        font-size: 3em;
        margin-top: 2em;
        color:var(--text);}
    p {text-align: center;}
    div {text-align: center;
      /* margin-bottom: 10px; */
    }
  
  
    
  .arrow {
    border: solid #D3E788;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
  }
  
  button:hover {
    background-color:var(--accent1);
    color: var(--text);
  }
  
  button {
  
      /* border-radius:15px; */
      border:1px solid var(--accent1);
      display:inline-block;
      cursor:pointer;
      font-size:14px;
      padding:5px;
      text-decoration:none;
    background-color: var(---background);
    color: var(--text);
  }
  
  
  button:focus{
    background: var(--background1); 
    /* background-color : #D4B483; */
  }
  
  .button-stay:focus {
    background-color : black;
    color: #cae0ad;
  }
  
  .slider {
    width: 100%;
    height: 14px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 14px;
    border: 0px solid #000000;
    -webkit-text-fill-color:green;
  }
  
  
  input {
    text-align: center;
    border:1px solid #b56d07;
    }
  
  #chart {
    position: chart;
    z-index: -1;
  }
  
  
  img {
    opacity: 0.5;
  }
  
  .textinpanel {
    margin: auto;
    width : 60%;
    text-align: center;
    font: impact;
  }

  
  #label{
    margin: auto;
    padding:10px;
    margin-bottom: 5px;
    background-image:radial-gradient(rgba(212, 180, 131, 1), rgba(255,0,0,0));
    display:flex;
    width:100%;
    justify-content: space-between;
  }
  
  .bottom {
    position: fixed;
    bottom: 0;
    width: 98%;
    color:var(--text);
  }
  
  text.shadow {
    background-color:white;
  }
  
  #right{
    text-align: right;
    font-size: 10px;
  }
  
  #left{
    text-align: left;
    font-size:15px;
    width:109px;
  }

svg {
        overflow:visible;
        padding:10px;
        float:left;
        width:100%;
        height:100%; 
            
}


/* #panel{
  opacity:0;
} */
.pa.visible {
  opacity:1;
}
.pb.visible {
  opacity:1;
}
.pc.visible {
  opacity:1;
}
.pd.visible {
  opacity:1;
}
.p1.visible {
  opacity:1;
}
.p2.visible {
  opacity:1;
}
.p3.visible {
  opacity:1;
}
.p4.visible {
  opacity:1;
}
.p4-5.visible {
  opacity:1;
}
.p5.visible {
  opacity:1;
}
.p6.visible {
  opacity:1;
}
.p7.visible {
  opacity:1;
}
.p8.visible {
  opacity:1;
}
.p9.visible {
  opacity:1;
}
.p10.visible {
  opacity:1;
}

.panel {
  font-family: Verdana, sans-serif;
  text-align: left;
  font-size: 30px;
  height: 100%;
  width: 40%;
  border-radius: 5px;
  padding:1cm;
  margin-bottom: 250px;
  /* opacity:0; */
  -webkit-transform: scale(0.9);
			 -moz-transform: scale(0.9);
				-ms-transform: scale(0.9);
				 -o-transform: scale(0.9);
						transform: scale(0.9);
		-webkit-transition: all 1s ease-in-out;
			 -moz-transition: all 1s ease-in-out;
				-ms-transition: all 1s ease-in-out;
				 -o-transition: all 1s ease-in-out;
						transition: all 1s ease-in-out;
}
.pa{
  opacity:0;
  background-color: var(--accent10);
  position: relative;
  width: 93.5%;
  z-index: 9999;
  margin-top: 200px;
}
.pb{
  opacity:0;
  background-color: var(--accent3);
  position: relative;
  width: 93.5%;
  z-index: 9999;
}
.pc{
  opacity:0;
  background-color: var(--accent4);
  position: relative;
  width: 93.5%;
  z-index: 9999;
}
.pd{
  opacity:0;
  background-color: var(--accent8);
}


.p1{
  
  opacity:0;
  background-color: var(--accent1);
  /* background-image: radial-gradient( circle farthest-corner at 1.5% 1.4%,
                              var(--accent1) 0%,
                               var(--accent2) 100.2% ); */
}

.p2{
  opacity:0;
  background-color: var(--accent1);
}
.p3{
  opacity: 0;
  background-color: var(--accent7);
}
.p4{
  opacity:0;
  background-color: var(--accent7);
}
.p4-5{
  opacity:0;
  background-color: var(--accent7);
}
.p5{
  opacity:0;
  background-color: var(--accent6);
}
.p6{
  opacity:0;
  background-color: var(--accent6);
}
.p7{
  opacity:0;
  background-color: var(--accent5);
}
.p8{
  opacity:0;
  background-color: var(--accent5);
}
.p9{
  opacity:0;
  background-color: var(--accent9);
}
.p10{
  opacity:0;
  background-color: var(--accent10);
}

#move-button{
    background:var(--background1);
    border:1px solid var(--accent2);
    /* margin:2cm; */

}

#move-button:hover{
    background: var(--accent2);
}

#move-button:before{
    background: var(--accent2);
}

button{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 30px;
    border: 2px solid var(--accent1);
    padding: 14px 30px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    transform: translate(-50%,-50%); 
  }
  button::before{
    background: var(--accent1);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  
  button::before{
    width: 0%;
    height: 100%;
  }
  
  button:hover::before{
    width: 100%;
  }

  move-button {
    text-align: center;
      /* margin: auto; */
  }

  .tooltip {
    position:fixed;
    /* width: 200px;
    height: 28px; */
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    background: var(--background1);
    border: 2px solid;
    opacity: 0.9;
    z-index:999;
    
  }

  /* .people1{
    height: 100%;
    width:600px;
  } */

  #people1{
    position:fixed;
    z-index: 998;
    left: 45%;

    /* margin-left: 0;
    margin-left: auto; */
    top:0%;
    /* top: -300px; */
    width:40%;
    height:100%;
  }


/* .iconCustom  {
  width: 2%;
  height: 4%;
} */


